<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19"
        tools:targetApi="31">
        <activity
            android:name=".User_patient"
            android:exported="false"
            android:label="@string/title_activity_user_patient"
            android:theme="@style/Theme.Covid19.NoActionBar" />
        <activity
            android:name=".patient_complain"
            android:exported="false" />
        <activity
            android:name=".patient_update"
            android:exported="false" />
        <activity
            android:name=".patient_certificate"
            android:exported="false" />
        <activity
            android:name=".patient_booking"
            android:exported="false" />
        <activity
            android:name=".patient_login"
            android:exported="false" />
        <activity
            android:name=".admin_update"
            android:exported="false" />
        <activity
            android:name=".admin_complain"
            android:exported="false" />
        <activity
            android:name=".admin_patient_details"
            android:exported="false" />
        <activity
            android:name=".admin_booking"
            android:exported="false" />
        <activity
            android:name=".admin"
            android:exported="false"
            android:label="@string/title_activity_admin"
            android:theme="@style/Theme.Covid19.NoActionBar" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".Admin_login"
            android:exported="false" />
        <activity
            android:name=".selection"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>